.div1{
    background-color: #F8F9FA;
    border-radius: 4px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.titulo{
    width: 92.11px;
    height: 24px;
    top: 11px;
    left: 18.16px;
    top: 11px;
    left: 18.16px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.cadastro{
    display: flex;
    align-content: stretch;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.geral{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.pacotes1, .descricao01 {
    width: 45%;
}

.status2 {
    display: flex;
    justify-content: space-between;
}

.pacotes {
    width: 589px;
    height: 38px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

#data {
    width: 293px;
    height: 38px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

.laabel{
    font-family: 'Inter', sans-serif;
}

.text1{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

input#descricao.descricao{
    width: 555px;
    height: 161px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

button{
    width: 109px;
    height: 39px;
    background: #8458FF;
    border-radius: 4px;
    color: white;
}

.cadastrar{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.botoes_gerais{
    width: 1189px;
    height: 265px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

button.botao2{
    background: #FFC107;
    border-radius: 4px;
    color: white;
}

button.botao3{
    background: #DC3545;
    border-radius: 4px;
    color: white;
}

.color{
    width: 1440px;
    height: 250px;
    background: #F6511D;
}

.texto{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

.barra{
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.p_texto{
    color: white;
}

.ajustes{
    justify-content: center;
}

.color_geral{
    display: flex;
    justify-content: center
}
